In [4]:
from pyspark.sql import SparkSession

In [5]:
pip install pyspark

Requirement already satisfied: pyspark in c:\python3.11\lib\site-packages (3.2.3)
Requirement already satisfied: py4j==0.10.9.5 in c:\python3.11\lib\site-packages (from pyspark) (0.10.9.5)
Note: you may need to restart the kernel to use updated packages.

In [6]:
spark = SparkSession.builder \
      .master("local[1]") \
      .appName("demo1") \
      .getOrCreate()

In [55]:
rdd1 = spark.read.csv("C:/Users/Lenovo/IdeaProjects/Project1/Input/CapstoneMarketAnalysis.csv",header=True)

In [56]:
rdd1.printSchema()

root
 |-- age: string (nullable = true)
 |-- job: string (nullable = true)
 |-- marital: string (nullable = true)
 |-- education: string (nullable = true)
 |-- default: string (nullable = true)
 |-- balance: string (nullable = true)
 |-- housing: string (nullable = true)
 |-- loan: string (nullable = true)
 |-- contact: string (nullable = true)
 |-- day: string (nullable = true)
 |-- month: string (nullable = true)
 |-- duration: string (nullable = true)
 |-- campaign: string (nullable = true)
 |-- pdays: string (nullable = true)
 |-- previous: string (nullable = true)
 |-- poutcome: string (nullable = true)
 |-- y: string (nullable = true)

In [57]:
rdd1.show()

+---+------------+--------+---------+-------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+---+
|age|         job| marital|education|default|balance|housing|loan|contact|day|month|duration|campaign|pdays|previous|poutcome|  y|
+---+------------+--------+---------+-------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+---+
| 58|  management| married| tertiary|     no|   2143|    yes|  no|unknown|  5|  may|     261|       1|   -1|       0| unknown| no|
| 44|  technician|  single|secondary|     no|     29|    yes|  no|unknown|  5|  may|     151|       1|   -1|       0| unknown| no|
| 33|entrepreneur| married|secondary|     no|      2|    yes| yes|unknown|  5|  may|      76|       1|   -1|       0| unknown| no|
| 47| blue-collar| married|  unknown|     no|   1506|    yes|  no|unknown|  5|  may|      92|       1|   -1|       0| unknown| no|
| 33|     unknown|  single|  unknown|     no|      1|     no|  no|unknown|  5|  may|     198|       1|   -1|       0| unknown| no|
| 35|  management| married| tertiary|     no|    231|    yes|  no|unknown|  5|  may|     139|       1|   -1|       0| unknown| no|
| 28|  management|  single| tertiary|     no|    447|    yes| yes|unknown|  5|  may|     217|       1|   -1|       0| unknown| no|
| 42|entrepreneur|divorced| tertiary|    yes|      2|    yes|  no|unknown|  5|  may|     380|       1|   -1|       0| unknown| no|
| 58|     retired| married|  primary|     no|    121|    yes|  no|unknown|  5|  may|      50|       1|   -1|       0| unknown| no|
| 43|  technician|  single|secondary|     no|    593|    yes|  no|unknown|  5|  may|      55|       1|   -1|       0| unknown| no|
| 41|      admin.|divorced|secondary|     no|    270|    yes|  no|unknown|  5|  may|     222|       1|   -1|       0| unknown| no|
| 29|      admin.|  single|secondary|     no|    390|    yes|  no|unknown|  5|  may|     137|       1|   -1|       0| unknown| no|
| 53|  technician| married|secondary|     no|      6|    yes|  no|unknown|  5|  may|     517|       1|   -1|       0| unknown| no|
| 58|  technician| married|  unknown|     no|     71|    yes|  no|unknown|  5|  may|      71|       1|   -1|       0| unknown| no|
| 57|    services| married|secondary|     no|    162|    yes|  no|unknown|  5|  may|     174|       1|   -1|       0| unknown| no|
| 51|     retired| married|  primary|     no|    229|    yes|  no|unknown|  5|  may|     353|       1|   -1|       0| unknown| no|
| 45|      admin.|  single|  unknown|     no|     13|    yes|  no|unknown|  5|  may|      98|       1|   -1|       0| unknown| no|
| 57| blue-collar| married|  primary|     no|     52|    yes|  no|unknown|  5|  may|      38|       1|   -1|       0| unknown| no|
| 60|     retired| married|  primary|     no|     60|    yes|  no|unknown|  5|  may|     219|       1|   -1|       0| unknown| no|
| 33|    services| married|secondary|     no|      0|    yes|  no|unknown|  5|  may|      54|       1|   -1|       0| unknown| no|
+---+------------+--------+---------+-------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+---+
only showing top 20 rows

In [58]:
rdd1.createOrReplaceTempView("table1")

In [20]:
rdd2=spark.sql("select count(*) as scount from table1 where poutcome='success'")

In [21]:
rdd2.show()

+------+
|scount|
+------+
|  1511|
+------+

In [21]:
rdd3=spark.sql("select count(*) as fcount from table1 where poutcome='failure'")

In [25]:
rdd3.show()

+------+
|fcount|
+------+
|  4901|
+------+

In [22]:
rdd4=spark.sql("select count(*) as tcount from table1")

In [28]:
rdd4.show()

+------+
|tcount|
+------+
| 45211|
+------+

In [38]:
print(rdd2.head()[0]/rdd4.head()[0]*100)

3.34210700935613

In [37]:
print(rdd3.head()[0]/rdd4.head()[0]*100)

10.840282232200128

In [40]:
rdd5=spark.sql("select max(age) as maximum from table1")

In [41]:
rdd5.show()

+-------+
|maximum|
+-------+
|     95|
+-------+

In [15]:
rdd8=spark.sql("select min(age) as minimum from table1")

In [16]:
rdd9=spark.sql("select avg(age) as average from table1")

In [17]:
rdd8.show()

+-------+
|minimum|
+-------+
|     18|
+-------+

In [18]:
rdd9.show()

+-----------------+
|          average|
+-----------------+
|40.93621021432837|
+-----------------+

In [63]:
rdd6=spark.sql("select marital ,count(*) as tcount from table1 group by marital")

In [65]:
rdd7=spark.sql("select marital ,count(*) as scount from table1 where y='yes' group by marital")

In [64]:
rdd6.show()

+--------+------+
| marital|tcount|
+--------+------+
|divorced|  5207|
| married| 27214|
|  single| 12790|
+--------+------+

In [66]:
rdd7.show()

+--------+------+
| marital|scount|
+--------+------+
|divorced|   622|
| married|  2755|
|  single|  1912|
+--------+------+

In [67]:
rdd6.createOrReplaceTempView("table2")

In [70]:
rdd7.createOrReplaceTempView("table3")

In [73]:
df8 = spark.sql("select a.scount,b.* ,a.scount/b.tcount as per from table3 a left join table2 b on a.marital = b.marital")

In [74]:
df8.show()

+------+--------+------+-------------------+
|scount| marital|tcount|                per|
+------+--------+------+-------------------+
|   622|divorced|  5207|0.11945458037257538|
|  2755| married| 27214|0.10123465863158668|
|  1912|  single| 12790| 0.1494917904612979|
+------+--------+------+-------------------+

In [39]:
rdd10=spark.sql("select age ,count(*) as tcount from table1 group by age")

In [35]:
rdd11=spark.sql("select age ,count(*) as scount from table1 where y='yes' group by age")

In [40]:
rdd10.show()

+---+------+
|age|tcount|
+---+------+
| 51|   936|
| 54|   811|
| 29|  1185|
| 69|    44|
| 42|  1242|
| 73|    44|
| 87|     4|
| 64|    74|
| 30|  1757|
| 34|  1930|
| 59|   770|
| 28|  1038|
| 22|   129|
| 85|     5|
| 35|  1894|
| 52|   911|
| 71|    54|
| 47|  1088|
| 43|  1161|
| 31|  1996|
+---+------+
only showing top 20 rows

In [42]:
rdd10.createOrReplaceTempView("table4")

In [41]:
rdd11.show()

+---+------+
|age|scount|
+---+------+
| 51|    77|
| 54|    84|
| 29|   171|
| 69|    17|
| 42|   111|
| 73|    24|
| 87|     3|
| 64|    35|
| 30|   217|
| 34|   198|
| 59|    88|
| 28|   162|
| 22|    40|
| 85|     4|
| 35|   209|
| 52|    85|
| 71|    25|
| 47|   113|
| 43|   103|
| 31|   206|
+---+------+
only showing top 20 rows

In [44]:
rdd11.createOrReplaceTempView("table5")

In [49]:
df9 = spark.sql("select a.age,a.scount/b.tcount as per from table5 a left join table4 b on a.age = b.age order by per")

In [50]:
df9.show()

+---+-------------------+
|age|                per|
+---+-------------------+
| 50|0.07667731629392971|
| 44| 0.0818661971830986|
| 48|0.08224674022066199|
| 51|0.08226495726495726|
| 40|0.08560885608856089|
| 45|0.08717105263157894|
| 56|0.08740359897172237|
| 43|0.08871662360034453|
| 42| 0.0893719806763285|
| 41|0.09295120061967467|
| 52|0.09330406147091108|
| 57|0.09420289855072464|
| 55|0.09429280397022333|
| 53|0.09539842873176206|
| 39|0.09616677874915938|
| 58| 0.0972972972972973|
| 38|0.09822646657571624|
| 37|0.10023584905660378|
| 46|0.10042553191489362|
| 49|0.10160965794768612|
+---+-------------------+
only showing top 20 rows

In [52]:
 age_marital = spark.sql("select age, marital, count(*) as number from table1 where y='yes' group by age,marital order by number desc ").show()

ParseException:
mismatched input ' ' expecting {<EOF>, ';'}(line 1, pos 102)

== SQL ==
select age, marital, count(*) as number from table1 where y='yes' group by age,marital order by number desc
------------------------------------------------------------------------------------------------------^^^

In [54]:
age_marital = spark.sql("select age, marital, count(*) as number from table1 where y='yes' group by age,marital order by number desc ").show()

ParseException:
mismatched input ' ' expecting {<EOF>, ';'}(line 1, pos 102)

== SQL ==
select age, marital, count(*) as number from table1 where y='yes' group by age,marital order by number desc
------------------------------------------------------------------------------------------------------^^^

In [ ]:
age_marital = spark.sql("select age, marital, count(*) as number from table1 where y='yes' group by age,marital order by number desc ").show()